:root {
    --blue-color: #aad5fb;
    --complement-blue: #86b3f1;
    --darker-complement-blue: #5594f1;
    --selected-hover-color: #d7edfe;
    --beige-color: #f6ddb4;
    --complement-beige: #f8f4eb;
    --bright-beige-border-color: #c9a881;
    --darker-beige: #d7ba8a;
}

/*#f186db; #f2e9d9;*/