.CovidCountryFilter{
    display: flex;
    flex-direction: row;
    width: 165px;
    height: 35px;
}

.CovidCountryFilter > input,
.CovidCountryFilter > button{
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
    display: flex;
    flex-direction: column;
}

.CovidCountryFilter > input{
    padding: 0 5px 0 5px;
    width: 125px;
    border: 1px solid var(--bright-beige-border-color);
    background-color: var(--complement-beige);
}

.CovidCountryFilter > .ImageContainer{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border: 1px solid var(--bright-beige-border-color);
    border-left-color: transparent;
    background-color: var(--beige-color);
}

.CovidCountryFilter > .ImageContainer >  img{
    height: 80%;
    width: 80%;
    object-fit: contain;
}

.CovidCountryFilter > input:focus{
    outline: 2px solid var(--complement-blue);
    outline-offset: -2px;
}