div[role="grid"]{
    border-color: var(--bright-beige-border-color);
}

div[role="columnheader"]{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: unset;
    overflow: unset;
    line-height: 1;
    background-color: var(--beige-color);
    border-color: var(--bright-beige-border-color);
}

div[role="columnheader"]:last-child{
    border-right-color: transparent;
}

div[role="gridcell"]{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: unset;
    overflow: unset;
    line-height: 1;
    background-color: var(--complement-beige);
    border-color: var(--bright-beige-border-color);
}

div[role="gridcell"]:last-child{
    border-right-color: transparent;
}

div[role="row"]:nth-child(10) > div[role="gridcell"]{
    border-bottom-color: transparent;
}

div[role="gridcell"][aria-selected='true'],
div[role="columnheader"][aria-selected='true'] {
    outline: 2px solid var(--blue-color);
    outline-offset: -2px;
}