.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.App > .MainContent {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 550px;
}